$font: Roboto;

$color-green: #4B9200;
$color-orange: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$color-yellow: #FFEE2E;
$color-orang_grad: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$color-pink_gradient: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$color-red: #D31414;
$color-black_blue: #333B41;
$color-grey: #767474;
$color-gray_smoky: #ABABAB;
$color-light_gray: #F1F3F2;
$color-frosted_glass_white: #FDFDFF;

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    color: #EAF7FE;
    font-family: $font;
    background-color: black;
    font-size: 16px;
    height: 100%;
    
}



/*HEADER*/ 
header {
    @media (max-width: 768px) {
        position: fixed;
        z-index: 2;
    }
}

.header {
    background-color: black;
    width: 100%;
    height: 80px;  
    @media (max-width: 768px) {
        height: 34px;
    }
}

.nav {
    max-width: 1160px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 0 auto;
    @media (max-width: 768px) {
        justify-content: space-between;
    }
    
}

.shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    //overflow: hidden;
    display: none;
    @media (min-width: 640px) and (max-width: 768px) {
        height: 3920px;
    }
    @media (min-width: 600px) and (max-width: 640px) {
        height: 3581px;
    }
    @media (min-width: 580px) and (max-width: 600px) {
        height: 4060px;
    }
    @media (min-width: 320px) and (max-width: 580px) {
        height: 4080px;
    }
  }
  
.shadow_active {
    display: block;
  }

.nav__logo {
    position: relative;
    @media (max-width: 1200px) { 
        margin-left: 30px;
    }
}

.nav__logo_640 {
    @media (max-width: 768px) {
        margin-left: 20px;
    }
    @media (max-width: 320px) {
        margin-left: 10px;
    }
}

.nav__logo_active{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    margin-left: 10px;
    
}

.nav__item {
    width: 82px;
    height: 47px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    text-align: center;
    padding-top: 5px;
}

.nav__item_640 {
    @media (max-width: 768px) {
        border: 0;
        font-size: 12px;
        width: 47px;
        padding-top: 0;
        margin-top: 2px;
    }
}

.nav__logo_active .nav__item_640 {
    border: 0.8px solid #FE9013;
    border-radius: 2px;
    width: 65.6px;
    height: 34.6px;
    box-sizing: border-box;
    transition: 0s all linear;
}

.nav__itemlink {
    text-decoration: none;
    color: #FFFFFF;
    &:hover {
        cursor: pointer;
    }
}

.nav__logo_active .nav__itemlink {
    color: #FE9013;
    transition: 0s all linear;
}

.nav__bamboo {
    position: absolute;
    top: 38px;
    left: 10px;
}

.nav__bamboo_640 {
    @media (max-width: 768px) {
        top: 15px;
        left: 6px;
        width: 4.54px;
        height: 13.56px;
    }
}

.nav__logo_active .nav__bamboo_640 {
    filter: invert(40%) sepia(90%) saturate(1000%);
    top: 16px;
    left: 16px;
}

.nav__list {
    @media (max-width: 768px) {
        width: 100%;
        height: 329px;
        background: white;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 4;
        transform: translateX(100%);
        transition: 0.1s all linear;
    }
}

.nav__list_active {
    transform: translateX(0);
}

.menu-burger {
    display: none;
    @media (max-width: 768px) {
        display: block;
        width: 18px;
        height: 10px;
        position: relative;
        cursor: pointer;
        margin-left: 83.5%;
        margin-bottom: 30px;
        z-index: 5;
    }
    @media (max-width: 550px) {
        margin-left: 73%;
    }
}

.menu-burger__line {
    width: 18px;
    height: 2px;
    border-radius: 2px;
    background: white;
    position: absolute;
}

.menu-burger__line_second {
    top: 50%;
    transform: translateY(-50%);
}

.menu-burger__line_third {
    bottom: 0;
}

.menu-burger_active {
    position: absolute;
    top: 15px;
    right: 30px;
}

.menu-burger_active .menu-burger__line_first  {
    background: $color-black_blue;
    transform: rotate(45deg);
    z-index: 4;
    transition: 0.1s all linear;
}

.menu-burger_active .menu-burger__line_second {
    display: none;
}

.menu-burger_active .menu-burger__line_third {
    background: $color-black_blue;
    transform: translate(0px, -8px) rotate(-45deg);
    z-index: 4;
    transition: 0.2s all linear;
}

.menu {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    @media (max-width: 1000px) {
        padding-left: 10px;
    }
    @media (max-width: 768px) {
        flex-direction: column;
        margin-top: 82px;
        gap: 15px;
    }
}

.menu__item {
    list-style-type: none;
}

.menu__link {
    text-decoration: none;
    padding-left: 58px;
    font-family: $font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: white;
    
    &:hover {
        color: #F9804B;
        cursor: pointer;
    }
    @media (max-width: 1000px) {
        padding-left: 48px;
    }
    @media (max-width: 970px) {
        padding-left: 35px;
    }
    @media (max-width: 768px) {
        color: $color-black_blue;
        padding-left: 10px;
    }
}

.menu__link_active {
    color: #F9804B;
}

.nav__designed {
    margin-left: 37.6%;
    @media (max-width: 1200px) {
        margin-left: 23%;
    }
    @media (max-width: 1000px) {
        margin-left: 26%;
    }
    @media (max-width: 970px) {
        margin-left: 15%;
    }
    
}

.nav__designedby {
    @media (max-width: 768px) {
        display: none;
    }
}

.nav__designedby_active {
    display: block;
    position: absolute;
    z-index: 5;
    top: 268px;
    left: 20px;
}

.nav__link {
    text-decoration: none;
    font-family: $font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: white;
    &:hover {
        color: #F9804B;
        cursor: pointer;
    }
}

.nav__designedby_active .nav__link {
    color: $color-black_blue;
}




/*MAIN PAGE*/

.main-page {
    background-image: url(../../assets/images/donate_panda_bg.png);
    background-position: 0 -5px;
    background-repeat: no-repeat;
    max-width: 1600px;
    height: 385px;
    margin: 0 auto;
    @media (min-width: 640px) and (max-width: 1000px) {
        background-image: url(../../assets/images/donate_bg_1000.png);
        //background-position: center;
    }
    @media (max-width: 640px) {
        background-image: url(../../assets/images/panda_bg_640.png);
        background-position: 0 34px;
        height: 370px;
    }
    @media (max-width: 320px) {
        background-image: url(../../assets/images/panda_bg_320.png);
        background-position: 0 34px;
        height: 221px;
    }

}

/*PICK A FRIEND*/

.pick-friend {
    width: 100%;
    background: $color-orang_grad;
    height: 1482px;
    @media (max-width: 1160px) {
        height: 1337px;
    }
    @media (max-width: 640px) {
        height: 1331px;
    }
    @media (min-width: 320px) and (max-width: 480px) {
        height: 1145px;
    }
}

.pick-friend__content {
    max-width: 1160px;
    margin: 0 auto;
}

.pick-friend__title {
    margin: 0;
    padding-top: 42px;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: white;
    @media (min-width: 1000px) and (max-width: 1600px) {
        width: calc(800px + 221 * (100vw - 1000px) / 600);
        text-align: left;
        padding-left: 30px;
    }
    @media (max-width: 900px) {
        font-size: 24px;
        text-align: left;
        padding-left: 20px;
    }
    @media (max-width: 640px) {
        padding-top: 28px;
    }
    @media (max-width: 639px) {
        padding-left: 10px;
    }
}

.pick-friend__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: white;
    margin: 10px 0 0 0;
    max-width: 1150px;
    @media (min-width: 1000px) and (max-width: 1600px) {
        width: calc(939px + 221 * (100vw - 1000px) / 600);
        padding-left: 30px;
        margin: 33px 0 0 0;
    }
    @media (min-width: 640px) and (max-width: 1000px) {
        padding-left: 30px;
    }
    @media (max-width: 640px) {
        margin-top: 17px;
        max-width: 600px;
        padding-left: 20px;
    }
    @media (max-width: 639px) {
        padding-left: 10px;
    }
    
}

.pick-friend__subtitle {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FE9013;
    margin: 45px 0 60px 0;
    @media (min-width: 1000px) and (max-width: 1160px) {
        padding-left: 30px;
        margin: 45px 0 40px 0;
    }
    @media (min-width: 640px) and (max-width: 1000px) {
        padding-left: 30px;
    }
    @media (max-width: 640px) {
        margin: 25px 0 0 0;
        padding-left: 20px;
    }
    @media (max-width: 639px) {
        padding-left: 10px;
    }
    @media (min-width: 320px) and (max-width: 480px) {
        font-size: 24px;
        margin: 45px 0 0 0;
    }
}

.pick-container {
    max-width: 1160px;
    height: 964px;
    background: rgba(255, 255, 255, 0.52);
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 180px;
    @media (min-width: 1000px) and (max-width: 1600px) {
        width: calc(940px + 220 * (100vw - 1000px) / 600);
        height: calc(918px + 46 * (100vw - 1000px) / 600);
    }
    @media (min-width: 640px) and (max-width: 1000px) {
        width: calc(600px + 340 * (100vw - 640px) / 360);
        height: 918px;
    }
    @media (min-width: 320px) and (max-width: 640px) {
        width: calc(300px + 300 * (100vw - 320px) / 320);
        //height: calc(591px + 327 * (100vw - 320px) / 320);
    }
    @media (min-width: 480px) and (max-width: 639px) {
        height: 918px;
    }
    @media (min-width: 370px) and (max-width: 480px) {
        height: 630px;
    }
    @media (min-width: 320px) and (max-width: 370px) {
        height: 591px;
    }
    
}

.pick-container__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
    padding: 40px 10px 0 0;
    margin-bottom: 20px;
    @media (max-width: 1000px) {
        padding: 20px 10px 0 0;
        margin-bottom: 10px;
    }
    @media (max-width: 640px) {
        margin-top: 30px;
        padding: 33px 0 10px 0;
    }
    @media (min-width: 320px) and (max-width: 480px) {
        font-size: 24px;
        padding: 17px 0 0 0;
    }
    
}

.pick-container__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: $color-black_blue;
    padding-left: 92px;
    margin: 0;
    @media (max-width: 1000px) {
        padding-left: 0;
        text-align: center;
    }
    @media (min-width: 320px) and (max-width: 480px) {
        font-size: 16px;
    }
    @media (max-width: 320px) {
        max-width: 300px;
    }
}

.pick-container__animal {
    max-width: 532px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    padding-right: 10px;
    @media (max-width: 640px) {
        margin-top: 50px;
    }
    @media (min-width: 320px) and (max-width: 480px) {
        margin-top: 18px;
        padding-right: 0;
    }
}

.pick-number {
    color: #000000;
    text-align: center;
}

.pick-number__amountofdays {
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    text-transform: uppercase;
    margin: 0;
    padding-top: 55px;
    @media (min-width: 320px) and (max-width: 639px) {
        font-size: 40px;
        padding-top: 30px;
    }
    
}

.pick-number__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    padding-top: 11px;
    margin: 0;
    @media (min-width: 320px) and (max-width: 480px) {
        font-size: 9px;
        width: 90px;
    }
}

.pick-container__cross {
    padding: 25px 55px 0 0;
    @media (min-width: 320px) and (max-width: 480px) {
        width: 8px;
        height: 8px;
        padding: 10px 30px 0 0;
    }
}

.pick-panda {
    @media (min-width: 320px) and (max-width: 640px) {
        width: calc(160px + 124 * (100vw - 320px) / 320);
        height: calc(139px + 107 * (100vw - 320px) / 320);
    }
}


.pick-friend__wrapper {
    display: flex;
	flex-direction: column;
	align-items: center;
}


.pick-radio {
    color: #333B41;
}

.pick-radio__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: black;
    margin: 0;
    padding: 45px 0 0 96px;
    @media (max-width: 1160px) {
        padding: 45px 0 0 66px;
    }
    @media (max-width: 900px) {
        padding: 40px 0 5px 10px;
    }
    @media (min-width: 320px) and (max-width: 480px) {
        padding: 0;
    }

}

.pick-radio__wrapper {
    box-sizing: border-box;
    max-width: 976px;
    height: 27px;
    border-radius: 2px;
    background: #404950;
    margin: 20px auto 0;
    position: relative;
    padding-top: 8px;
    @media (max-width: 1160px) {
        width: 810px;
    }
    @media (max-width: 900px) {
        width: 600px;
    }
    @media (max-width: 640px) {
        margin: 3px auto 0;
    }
    @media (min-width: 320px) and (max-width: 640px) {
        width: calc(300px + 300 * (100vw - 320px) / 320);
    }
    @media (min-width: 320px) and (max-width: 480px) {
        height: 14px;
        margin: 10px auto 0;
    }
}

.pick-radio__input {
    width: 976px;
}

.pick-radio__line {
    width: 915px;
    height: 2px;
    background: #72828E; 
    position: absolute;
    top: 12px;
    left: 30px;
    @media (max-width: 1160px) {
        width: 785px;
        left: 15px;
    }
    @media (max-width: 900px) {
        width: 524px;
        left: 35px;
    }
    @media (min-width: 320px) and (max-width: 640px) {
        width: calc(260px + 268 * (100vw - 320px) / 320);
    }
    @media (min-width: 320px) and (max-width: 480px) {
        height: 1px;
        top: 7px;
        left: 20px;
    }
}

.pick-radio__form {
    display: flex;
    max-width: 961px;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    left: 25px;
    @media (max-width: 1160px) {
        left: 10px;
    }
    @media (max-width: 900px) {
        left: 30px;
        top: 8px;
    }
    @media (max-width: 480px) {
        left: 20px;
        top: 5px;
    }
}

.pick-radio__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.pick-radio__container_1000 {
    @media (max-width: 1160px) {
        display: none;
    }
}

.pick-radio__container_640 {
    @media (max-width: 900px) {
        display: none;
    }
}

.input-radio__item {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: $color-yellow;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-right: 120px;
    @media (min-width: 480px) and (max-width: 640px) {
        margin-right: calc(55px + 65 * (100vw - 320px) / 320);
    }
    @media (min-width: 320px) and (max-width: 480px) {
        margin-right: calc(60px + 65 * (100vw - 320px) / 320);
        width: 5px;
        height: 5px;
    }
}

#amount8 {
    @media (max-width: 1160px) {
        margin-right: 0;
    }
}
 

.input-radio__item:checked::before {
    position: absolute;
        top: -7px;
        left: -7px;
        z-index: 2;
        content: url(../../assets/icons/circle1.svg);
        background-repeat: no-repeat;
        @media (min-width: 320px) and (max-width: 480px) {
            top: -5px;
            left: -3px;
            z-index: 2;
            content: url(../../assets/icons/circle1_320.svg);
        }
}

.input-radio__item:checked::after {
    position: absolute;
        top: -15px;
        left: -15px;
        z-index: 2;
        content: url(../../assets/icons/circle2.svg);
        background-repeat: no-repeat;
        @media (min-width: 320px) and (max-width: 480px) {
            top: -7px;
            left: -7px;
            z-index: 2;
            content: url(../../assets/icons/circle2_320.svg);
        }
}

.input-radio__label {
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    text-transform: uppercase;
    color: #FE9013;
    position: absolute;
    top: 30px;
    left: -25px;
    @media (max-width: 1160px) {
        left: -10px;
    }
    @media (max-width: 640px) {
        left: -17px;
    }
    @media (min-width: 320px) and (max-width: 639px) {
        font-size: 13px;
    }
    @media (min-width: 320px) and (max-width: 480px) {
        top: 15px;
        left: -13px;
    }
}

input[type="radio"]:not(:checked) + label {
    color: $color-black_blue;
}

.pick-another {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 97px;
    margin-left: 5px;
    @media (min-width: 320px) and (max-width: 480px) {
        margin-top: 50px;
    }
}

.pick-another__form {
    position: relative;
}

.pick-another__inputnum {
    box-sizing: border-box;
    width: 268px;
    height: 54px;
    border: 1px solid #929699;
    border-radius: 2px;
    background: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #929699;
    padding-left: 8px;
    @media (max-width: 640px) {
        width: 180px;
        height: 42px;
    }
    }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.pick-another__dollar {
    position: absolute;
    top: 15px;
    left: 245px;
    z-index: 0;
    color: #929699;
    font-weight: 600;
    font-size: 22px;
    @media (max-width: 640px) {
        top: 9px;
        left: 157px;    
    }
}

.pick-another__radio {
    margin-top: 26px;
    max-width: 248px;
    margin-right: 17px;
    @media (max-width: 640px) {
        margin: 34px 24px 0 0;
    }
    @media (min-width: 320px) and (max-width: 480px) {
        margin-top: 25px;
    }
}

.pick-another__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #FE9013;
    border-radius: 50%;
    &:checked {
        background-color: $color-green;
        border: 1px solid $color-green;
    }
}

.pick-another__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    font-family: $font;
}

.pick-another__label {
    padding-left: 5px;
}

.pick-another__radio .pick-another__label:not(:last-child) {
    padding-right: 50px;
}

.button {
    font-size: 16px;
    line-height: 22.4px;
    text-transform: uppercase;
    width: 298px;
    height: 54px;
    background: $color-orange;
    border: 0;
    border-radius: 25px;
    color: white;
    margin-right: 100px;
    font-family: $font;
    &:hover {
        background: #E47209;
        cursor: pointer;
    }
    &:active {
        background: $color-green;
    }
}

.pick-another__btn {
    display: block;
    margin: 30px auto 30px; 
    @media (max-width: 640px) {
        margin: 25px auto 30px; 
    }
}

.pick-another__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    text-align: center;
    margin: 0;
    @media (min-width: 320px) and (max-width: 480px) {
        width: 301px;
    }
}



/*FOOTER*/

footer {
    width: 100%;
    max-height: 443px;
    background: #111115;
   
}

.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
    margin: 0 auto;
    padding-bottom: 50px;
    @media (max-width: 1300px) {
        padding-left: 30px;
        padding-right: 18px;
    }
    @media (max-width: 1100px) {
        position: relative;
    }
    @media (max-width: 900px) {
        max-width: 93.75%;
        padding: 0;
        margin: 0 auto;
    }
}

.footer__links {
    max-width: 300px;
    @media (max-width: 600px) {
        justify-content: center;
        align-items: center;
        //width: calc(298px + 264 * (100vw - 320px) / 280);
        margin: 0 auto;
    }
   
}

.footer-menu__link_active {
    color: #F9804B;
}

.footer__logo {
    margin: 38px 0 68px 0;
    @media (max-width: 900px) {
        margin: 12px 0 30px 0;
    }
    @media (max-width: 600px) {
        margin: 12px 0 10px 0;
    }
}

.footer__bamboo {
    position: absolute;
    top: 25px;
    left: 12px;
    @media (max-width: 600px) {
        top: 2px;
        left: 159px;
    }
}

.footer-links_320 {
    display: none;
    @media (max-width: 600px) {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-bottom: 20px;
    
    }
}

.footer__name {
    @media (max-width: 600px) {
        border: 0;
        width: 130px;
        margin: 0 auto;
    }
}

.nav__item {

}

.footer__button {
    border-radius: 5px;
    margin-bottom: 44px;
    @media (max-width: 900px) {
        margin-bottom: 98px;
    }
    @media (max-width: 600px) {
        margin: 0;;
    }
}

.button {

}

.footer__circle {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: rgba(196, 196, 196, 0.5);
    margin-right: 12px;
    @media (max-width: 900px) {
        margin-right: 0;
    }
}

.footet__icon {
    display: block;
    margin: auto;
    padding-top: 5px;
}

.footer-alink {
    text-decoration: none;
    color: white;
    @media (max-width: 900px) {
        display: none;
    }
}

.footer-alink_640 {
    display: none;
    @media (max-width: 900px) {
        display: block;
        text-decoration: none;
        color: white;
    }
}

.footer-link {
    display: flex;
    align-items: center;
    max-height: 26px;
    padding-bottom: 10px;
}

.footer__media {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    &:hover {
        cursor: pointer;
        color: #F9804B;
    }
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    padding-top: 370px;
    width: 370px;
    padding-left: 65px;
    @media (max-width: 1100px) {
        padding-left: 3px;
        padding-right: 320px;
    }
    @media (max-width: 900px) {
        display: none;
    }
}

.footer-menu_640 {
    display: none;
    @media (max-width: 900px) {
        display: flex;
        gap: 37px;
    }
}

.footer-menu__link {
    display: block;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: white;
    &:hover {
        cursor: pointer;
        color: #F9804B;
    }
    @media (max-width: 600px) {
        //padding-bottom: 20px;
    }
}

.footer-menu__link_active {
    color: #F9804B;
}

.footer__form {
    width: 367px;
    @media (max-width: 1100px) {
        position: absolute;
        top: 0;
        right: 60px;
    }
    @media (max-width: 900px) {
        position: static;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        padding-top: 12px;
    }
    @media (max-width: 600px) {
        display: none;
    }
}

.footer__title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    margin: 40px 0 14px 0;
    @media (max-width: 900px) {
        display: none;
    }
}

.footer__formtext {

}

.footer-input {
    display: flex;
    @media (max-width: 900px) {
        display: none;
    }
    
}

.input-footer {
    width: 205px;
    height: 17px;
    background: black;
    border: 0.7px orange solid;
    border-radius: 2px;
    color: #BDBDBD;
    padding: 10px;
    outline: none;
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    &:focus {
        border: 0.7px $color-green solid;
        
        
    }
}


.footer__sumbit {
    width: 129px;
    height: 42px;
    background: $color-light_gray;
    color: $color-black_blue;
    border-radius: 5px;
    border: 1px $color-black_blue solid;
    margin-left: 10px;
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    &:active {
        color: $color-green;
        border: 1px $color-green solid;
    }
    &:focus {
        color: $color-green;
        border: 1px $color-green solid;
    }
}

.footer__designed {
    padding-top: 216px;
    padding-left: 135px;
    @media (max-width: 1000px) {
        position: relative;
    }
    @media (max-width: 900px) {
        padding: 0;
        margin-top: 23px;
    }
    @media (max-width: 600px) {
        margin: 28px 0 25px 70px;
    }
}

.footer__designed_320 {
    display: none;
    @media (max-width: 600px) {
        display: block;
    }

}

.footer__designedby {
    display: block;
    text-decoration: none;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: white;
    margin-bottom: 10px;
    @media (max-width: 1000px) {
        position: absolute;
        right: -25px;
    }
    @media (max-width: 900px) {
        position: static;

    }
    
}

.footer__designedby_2 {
    @media (max-width: 1000px) {
        position: absolute;
        bottom: -65px;
    }
    @media (max-width: 900px) {
        position: static;
        
    }
}




    