html {
  scroll-behavior: smooth;
}

body {
  color: #EAF7FE;
  font-family: Roboto;
  background-color: white;
  font-size: 16px;
}

/*HEADER*/
.header {
  background-color: black;
  width: 100%;
  height: 80px;
}

@media (max-width: 768px) {
  .header {
    height: 34px;
  }
}

.nav {
  max-width: 1160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav__logo {
  position: relative;
}

@media (max-width: 1200px) {
  .nav__logo {
    margin-left: 30px;
  }
}

@media (max-width: 768px) {
  .nav__logo {
    margin-left: 20px;
  }
}

.nav__item {
  width: 82px;
  height: 47px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
  text-align: center;
  padding-top: 5px;
}

@media (max-width: 768px) {
  .nav__item {
    border: 0;
    font-size: 12px;
    width: 47px;
    padding-top: 0;
    margin-top: 2px;
  }
}

.nav__itemlink {
  text-decoration: none;
  color: #FFFFFF;
}

.nav__itemlink:hover {
  cursor: pointer;
}

.nav__bamboo {
  position: absolute;
  top: 38px;
  left: 10px;
}

@media (max-width: 768px) {
  .nav__bamboo {
    top: 15px;
    left: 6px;
    width: 4.54px;
    height: 13.56px;
  }
}

@media (max-width: 768px) {
  .nav__list {
    display: none;
  }
}

.menu-burger {
  display: none;
}

@media (max-width: 768px) {
  .menu-burger {
    display: block;
    width: 18px;
    height: 10px;
    position: relative;
    cursor: pointer;
    margin-left: 83.5%;
    margin-bottom: 30px;
  }
}

.menu-burger__line {
  width: 18px;
  height: 2px;
  border-radius: 2px;
  background: white;
  position: absolute;
}

.menu-burger__line_second {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu-burger__line_third {
  bottom: 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 5px;
}

@media (max-width: 1000px) {
  .menu {
    padding-left: 10px;
  }
}

.menu__item {
  list-style-type: none;
}

.menu__link {
  text-decoration: none;
  padding-left: 58px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: white;
}

.menu__link:hover {
  color: #F9804B;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .menu__link {
    padding-left: 48px;
  }
}

@media (max-width: 970px) {
  .menu__link {
    padding-left: 35px;
  }
}

.menu__link_active {
  color: #F9804B;
}

.nav__designed {
  margin-left: 37.6%;
}

@media (max-width: 1200px) {
  .nav__designed {
    margin-left: 23%;
  }
}

@media (max-width: 1000px) {
  .nav__designed {
    margin-left: 26%;
  }
}

@media (max-width: 970px) {
  .nav__designed {
    margin-left: 15%;
  }
}

@media (max-width: 768px) {
  .nav__designedby {
    display: none;
  }
}

.nav__link {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: white;
}

.nav__link:hover {
  color: #F9804B;
  cursor: pointer;
}

/*MAIN PAGE*/
.main-page {
  max-width: 1600px;
  height: 700px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .main-page {
    height: 504px;
  }
}

@media (max-width: 640px) {
  .main-page {
    height: 373px;
  }
}

.main-page__bg {
  background-image: url(../../assets/images/main_paig_bg.jpg);
  background-position: 0 -80px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) and (max-width: 1000px) {
  .main-page__bg {
    background-image: url(../../assets/images/main_page_bg_1000.png);
    max-width: 1000px;
    height: 538px;
  }
}

@media (max-width: 768px) {
  .main-page__bg {
    background-position: 0 -35px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .main-page__bg {
    background-image: url(../../assets/images/main_page_bg_tablet.png);
    max-width: 768px;
    height: 373px;
  }
}

@media (max-width: 320px) {
  .main-page__bg {
    background-image: url(../../assets/images/main_page_bg_mobile.png);
    max-width: 320px;
    height: 187px;
  }
}

.watch-online {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 1160px;
  margin: 0 auto;
}

.watch-online__circle {
  width: 465px;
  height: 465px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 50%;
  margin: 12px 110px 69px 0;
}

@media (max-width: 1200px) {
  .watch-online__circle {
    margin: 0 177px 35px 0;
  }
}

@media (max-width: 1000px) {
  .watch-online__circle {
    width: 367px;
    height: 367px;
    margin: 0 177px 35px 0;
  }
}

@media (max-width: 900px) {
  .watch-online__circle {
    width: 237px;
    height: 237px;
  }
}

@media (max-width: 768px) {
  .watch-online__circle {
    margin: 10px 70px 0 0;
  }
}

.watch-online__title {
  font-style: normal;
  font-weight: 700;
  font-size: 106px;
  line-height: 75%;
  width: 500px;
  text-transform: uppercase;
  color: white;
  margin-top: 74px;
  margin-left: 75px;
  text-align: center;
}

@media (max-width: 1000px) {
  .watch-online__title {
    font-size: 85px;
    margin-top: 45px;
    margin-left: 10px;
  }
}

@media (max-width: 900px) {
  .watch-online__title {
    font-size: 54px;
    max-width: 255px;
  }
}

@media (max-width: 768px) {
  .watch-online__title {
    margin: 40px 0 0 37px;
  }
}

.watch-online__title_colored {
  color: #FFEE2E;
  text-align: center;
}

.button {
  font-size: 16px;
  line-height: 22.4px;
  text-transform: uppercase;
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border: 0;
  border-radius: 25px;
  color: white;
  margin-right: 100px;
  font-family: Roboto;
}

.button:hover {
  background: #E47209;
  cursor: pointer;
}

.button:active {
  background: #4B9200;
}

.watch-online__btn {
  margin-bottom: 100px;
}

@media (max-width: 1000px) {
  .watch-online__btn {
    margin-right: 140px;
  }
}

@media (max-width: 768px) {
  .watch-online__btn {
    margin-right: 50%;
  }
}

/*BACKSTAGE*/
.wrapper {
  background-color: white;
}

.backstage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 160px;
}

@media (max-width: 1350px) {
  .backstage {
    padding-bottom: 148px;
  }
}

@media (max-width: 640px) {
  .backstage {
    padding-bottom: 60px;
  }
}

.backstage__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
  color: #333B41;
  padding-top: 140px;
}

@media (max-width: 1200px) {
  .backstage__wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding-top: 100px;
  }
}

@media (max-width: 900px) {
  .backstage__wrapper {
    padding-top: 0;
  }
}

.backstage__img {
  max-width: 52%;
  max-height: auto;
}

@media (max-width: 1200px) {
  .backstage__img {
    display: none;
  }
}

.backstage__img_1100px {
  display: none;
}

@media (max-width: 1200px) {
  .backstage__img_1100px {
    display: block;
    height: 408px;
    padding-top: 10px;
  }
}

@media (max-width: 900px) {
  .backstage__img_1100px {
    display: none;
  }
}

.backstage__info {
  padding-left: 87px;
}

@media (max-width: 1200px) {
  .backstage__info {
    padding-left: 30px;
  }
}

@media (max-width: 700px) {
  .backstage__info {
    padding-left: 25px;
  }
}

@media (max-width: 900px) {
  .backstage__info {
    width: 77.3%;
  }
}

.backstage__title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  margin: 0 0 20px 0;
}

@media (max-width: 700px) {
  .backstage__title {
    padding-top: 25px;
    margin: 0 0 23px 0;
  }
}

.backstage__text {
  font-size: 16px;
  line-height: 130%;
}

.backstage__text2 {
  line-height: 140%;
}

.backstage__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin: 54px 0 34px 0;
}

@media (max-width: 700px) {
  .backstage__subtitle {
    margin: 30px 0 18px 0;
  }
}

.backstage__flower {
  position: absolute;
  top: 15px;
  right: 0;
}

@media (max-width: 1500px) {
  .backstage__flower {
    display: none;
  }
}

.backstage__flower_640 {
  display: none;
}

@media (max-width: 900px) {
  .backstage__flower_640 {
    position: absolute;
    top: -40px;
    right: 0;
    display: block;
  }
}

/*PETS*/
.pets {
  background: white;
}

.pets__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1350px) {
  .pets__wrapper {
    max-width: 940px;
    margin: 0 auto;
  }
}

.pets__btn {
  width: 62px;
  height: 62px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 50%;
  border: 0 white solid;
}

.pets__btn:active {
  background: #4B9200;
}

@media (max-width: 1350px) {
  .pets__btn {
    display: none;
  }
}

.pets__btn_1000 {
  display: block;
}

.pet-buttons {
  display: none;
}

@media (max-width: 1350px) {
  .pet-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 170px;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .pet-buttons {
    gap: 30px;
  }
}

.pets__cards {
  max-width: 1160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px 27px;
  padding: 0 20px 0 20px;
}

@media (max-width: 1350px) {
  .pets__cards {
    max-width: 960px;
    gap: 15px 1px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
}

@media (max-width: 900px) {
  .pets__cards {
    max-width: 600px;
  }
}

.pet-card {
  border-radius: 5px;
  border: 1px #FA6F32 solid;
  position: relative;
  overflow: hidden;
}

@media (max-width: 900px) {
  .pet-card__invisible {
    display: none;
  }
}

.pet-card__photo {
  border-radius: 5px 5px 0 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (max-width: 1350px) {
  .pet-card__photo {
    max-width: 294px;
    height: 294px;
  }
}

@media (max-width: 640px) {
  .pet-card__photo {
    max-width: 285px;
    height: 285px;
  }
}

.pet-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.pet-card__text {
  color: black;
}

.pet-card__title {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  margin: 3px 0 0 16px;
}

@media (max-width: 640px) {
  .pet-card__title {
    font-size: 12.5px;
    margin: 3px 0 0 10px;
  }
}

.pet-card__native {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  margin: 0 0 12px 16px;
}

@media (max-width: 640px) {
  .pet-card__native {
    margin: 0 0 10px 10px;
    font-size: 11.7px;
  }
}

.pet-card__icon {
  position: absolute;
  top: 5px;
  right: 12px;
}

@media (max-width: 640px) {
  .pet-card__icon {
    width: 25.7px;
    height: 28.8px;
  }
}

@media (max-width: 640px) {
  .pet-card__icon_fish {
    width: 37.4px;
    height: 29.6px;
  }
}

.pet-shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  left: 0;
  top: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pet-shadow__text {
  position: absolute;
  top: 70%;
  left: 5%;
  color: white;
  font-size: 17px;
}

.pet-shadow__text .pet-shadow__title {
  margin: 0;
  text-transform: uppercase;
}

.pet-shadow__text .pet-shadow__native {
  margin-top: 10px;
}

.pet-card:hover .pet-shadow {
  top: 0;
  left: 0;
}

.pet-card:hover .pet-card__text {
  opacity: 0;
}

.pet-card:hover .pet-card__photo {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.chose-bnt {
  margin: 0 auto;
  display: block;
  margin-top: 80px;
}

@media (max-width: 640px) {
  .chose-bnt {
    margin-top: 55px;
  }
}

.pets-bottom {
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-bottom: 100px;
}

@media (max-width: 1570px) {
  .pets-bottom {
    padding-bottom: 140px;
  }
}

@media (max-width: 640px) {
  .pets-bottom {
    padding-bottom: 100px;
  }
}

.pets-bottom__image {
  position: absolute;
}

.pets-bottom__image1 {
  left: 0;
  top: -225px;
}

@media (max-width: 1570px) {
  .pets-bottom__image1 {
    display: none;
  }
}

.pets-bottom__image1_1000 {
  display: none;
}

@media (max-width: 1570px) {
  .pets-bottom__image1_1000 {
    display: block;
    top: 72px;
  }
}

@media (max-width: 640px) {
  .pets-bottom__image1_1000 {
    top: 8px;
    left: -60px;
  }
}

.pets-bottom__image2 {
  right: 0;
  top: -41px;
}

@media (max-width: 1570px) {
  .pets-bottom__image2 {
    width: 241px;
    height: 180px;
    top: 94px;
  }
}

@media (max-width: 640px) {
  .pets-bottom__image2 {
    width: 175px;
    height: 131px;
    top: 78px;
  }
}

/*PICK FRIEND*/
.wrapper-pick {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  width: 100%;
  padding-top: 69px;
  padding-bottom: 100px;
}

@media (max-width: 1350px) {
  .wrapper-pick {
    padding: 29px 0 50px 0;
  }
}

.pick {
  max-width: 1160px;
  max-height: 835px;
  border-radius: 20px;
  background: rgba(253, 253, 255, 0.52);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1350px) {
  .pick {
    width: 94%;
  }
}

@media (max-width: 640px) {
  .pick {
    width: 100%;
  }
}

.pick-text {
  color: #333B41;
  padding-left: 100px;
}

@media (max-width: 1350px) {
  .pick-text {
    padding: 0 48px 0 49px;
  }
}

.pick-text__title {
  color: #FE9013;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  margin: 0;
  padding-top: 41px;
  padding-right: 95px;
}

@media (max-width: 1350px) {
  .pick-text__title {
    padding: 31px 0 0 0;
  }
}

.pick-text__subtitle {
  padding-top: 5px;
  padding-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}

@media (max-width: 1350px) {
  .pick-text__subtitle {
    margin: 15px 0 0 0;
  }
}

.pick-text__text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  margin: 0;
}

.pick-text__text2 {
  font-weight: 400;
  max-width: 863px;
  margin-top: 10px;
}

.pick-text__link {
  color: #333B41;
  text-decoration: none;
  border-bottom: 1px solid #FE9013;
  padding-bottom: 1px;
}

.pick-cards__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333B41;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
}

@media (max-width: 1350px) {
  .pick-cards__title {
    padding-top: 5px;
  }
}

.pick-cards__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 764px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 850px) {
  .pick-cards__wrapper {
    max-width: 586px;
    margin-left: 5%;
  }
}

@media (max-width: 640px) {
  .pick-cards__wrapper {
    margin-left: 20px;
    position: relative;
  }
}

.pick-card {
  max-width: 168px;
}

.pick-card__icon {
  display: block;
  margin: 50px auto 35px;
}

.pick-card__icon2 {
  margin: 35px auto 35px;
}

.pick-card__icon3 {
  margin: 45px auto 35px;
}

.pick-card__item {
  width: 168px;
  height: 168px;
  border-radius: 5px;
  background: white;
  border: 1px #F9804B solid;
}

.pick-card__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
  padding-top: 10px;
}

.pick-card__arrow {
  padding-bottom: 100px;
}

@media (max-width: 850px) {
  .pick-card__arrow {
    display: none;
  }
}

.pick-card__arrow_640 {
  display: none;
}

@media (max-width: 850px) {
  .pick-card__arrow_640 {
    display: block;
    position: absolute;
    top: -15px;
    left: 135px;
    z-index: 1;
  }
}

@media (max-width: 850px) {
  .pick-card__arrow_640_2 {
    position: absolute;
    left: 345px;
    top: -16px;
    z-index: 1;
  }
}

.pick-friend__btn {
  margin: 45px auto 59px;
  display: block;
}

@media (max-width: 1350px) {
  .pick-friend__btn {
    margin: 55px auto 50px;
  }
}

/*TESTIMONIALS*/
.testim-wrapper {
  background: white;
  width: 100%;
  color: #333B41;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}

.testim {
  max-width: 1160px;
  margin: 0 auto;
}

.testim-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testim-content__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  margin: 140px 0 50px 0;
}

@media (max-width: 1350px) {
  .testim-content__title {
    margin: 100px 0 30px 0;
  }
}

.testim-content__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1160px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 30px;
}

@media (max-width: 1300px) {
  .testim-content__cards {
    max-width: 940px;
  }
}

.testim-card-gradient {
  width: 268px;
  height: 391px;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  border-radius: 20px;
  position: relative;
}

@media (max-width: 1300px) {
  .testim-card-gradient {
    width: 293px;
  }
}

@media (max-width: 1300px) {
  .testim-card-gradient_none {
    display: none;
  }
}

.testim-card {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 264px;
  height: 387px;
  border-radius: 20px;
  background: #F1F3F2;
}

@media (max-width: 1300px) {
  .testim-card {
    width: 289px;
  }
}

.testim-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.testim-card__icon {
  padding: 15px 0 0 15px;
}

.testim-card__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 0 0 10px;
}

.testim-card__name {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: black;
}

.testim-card__location {
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #BDBDBD;
}

.testim-card__wrapper {
  overflow: hidden;
  max-width: 237px;
  max-height: 307px;
  padding-left: 16px;
}

.testim-card__text {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #767474;
  margin: 0;
}

.testim__progress {
  width: 600px;
  height: 8px;
  border-radius: 5px;
  background: #F5F7F6;
  border: 0.5px orange solid;
  margin-top: 21px;
  margin-bottom: 31px;
}

@media (max-width: 1000px) {
  .testim__progress {
    height: 7px;
    width: 390px;
  }
}

.testim__progbar {
  width: 115px;
  height: 6px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 5px;
  border: 0.5px orange solid;
}

@media (max-width: 1000px) {
  .testim__progbar {
    height: 5px;
    width: 75px;
  }
}

.testim__btn {
  border-radius: 5px;
  margin-bottom: 180px;
}

@media (max-width: 1300px) {
  .testim__btn {
    margin: 20px 0 140px 30px;
  }
}

.testim__leaf {
  position: absolute;
  right: 0;
  top: 648px;
}

@media (max-width: 1350px) {
  .testim__leaf {
    top: 590px;
  }
}

@media (max-width: 1300px) {
  .testim__leaf {
    display: none;
  }
}

.testim__leaf_1000 {
  display: none;
}

@media (max-width: 1300px) {
  .testim__leaf_1000 {
    display: block;
    position: absolute;
    right: 0;
    top: 605px;
  }
}

/*FOOTER*/
footer {
  width: 100%;
  max-height: 443px;
  background: #111115;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1160px;
  margin: 0 auto;
  padding-bottom: 50px;
}

@media (max-width: 1300px) {
  .footer {
    padding-left: 43px;
    padding-right: 18px;
  }
}

@media (max-width: 1100px) {
  .footer {
    position: relative;
  }
}

.footer__links {
  max-width: 300px;
}

.footer__logo {
  margin: 38px 0 68px 0;
}

.footer__bamboo {
  position: absolute;
  top: 25px;
  left: 12px;
}

.footer__button {
  border-radius: 5px;
  margin-bottom: 44px;
}

.footer__circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: rgba(196, 196, 196, 0.5);
  margin-right: 12px;
}

.footet__icon {
  display: block;
  margin: auto;
  padding-top: 5px;
}

.footer-alink {
  text-decoration: none;
  color: white;
}

.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 26px;
  padding-bottom: 10px;
}

.footer__media {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.footer__media:hover {
  cursor: pointer;
  color: #F9804B;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 370px;
  width: 370px;
  padding-left: 65px;
}

@media (max-width: 1100px) {
  .footer-menu {
    padding-left: 0;
    padding-right: 320px;
  }
}

.footer-menu__link {
  display: block;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: white;
}

.footer-menu__link:hover {
  cursor: pointer;
  color: #F9804B;
}

.footer-menu__link_active {
  color: #F9804B;
}

.footer__form {
  width: 367px;
}

@media (max-width: 1100px) {
  .footer__form {
    position: absolute;
    top: 0;
    right: 50px;
  }
}

.footer__title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin: 40px 0 14px 0;
}

.footer-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-footer {
  width: 205px;
  height: 17px;
  background: black;
  border: 0.7px orange solid;
  border-radius: 2px;
  color: #BDBDBD;
  padding: 10px;
  outline: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.input-footer:focus {
  border: 0.7px #4B9200 solid;
}

.footer__sumbit {
  width: 129px;
  height: 42px;
  background: #F1F3F2;
  color: #333B41;
  border-radius: 5px;
  border: 1px #333B41 solid;
  margin-left: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.footer__sumbit:active {
  color: #4B9200;
  border: 1px #4B9200 solid;
}

.footer__sumbit:focus {
  color: #4B9200;
  border: 1px #4B9200 solid;
}

.footer__designed {
  padding-top: 216px;
  padding-left: 135px;
}

@media (max-width: 1000px) {
  .footer__designed {
    position: relative;
  }
}

.footer__designedby {
  display: block;
  text-decoration: none;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: white;
  margin-bottom: 10px;
}

@media (max-width: 1000px) {
  .footer__designedby {
    position: absolute;
    right: -25px;
  }
}

@media (max-width: 1000px) {
  .footer__designedby_2 {
    position: absolute;
    bottom: -65px;
  }
}
/*# sourceMappingURL=style.css.map */