.about-bird {
  @media (max-width: 750px) {
    width: 100%;
    margin-top: 20px;
  }
  @media (min-width: 320px) and (max-width: 500px) {
    margin-top: 10px;
  }
}

.about-bird__info {
  display: flex;
}

.about-bird__name {
  font-size: 23px;
  margin-bottom: 10px;
  @media (max-width: 900px) {
    margin-bottom: 0;
  }
  @media (max-width: 750px) {
    margin: 0;
  }
}

.about-bird__line {
  width: 280px;
  height: 1px;
  background-color: $color-grey;
  @media (min-width: 750px) and (max-width: 1160px) {
    width: calc(100px + (280 - 100) * ((100vw - 750px) / (1160 - 750)));
  }
  @media (min-width: 320px) and (max-width: 750px) {
    width: calc(100px + (500 - 100) * ((100vw - 320px) / (750 - 320)));
  }

}

.about-bird__species {
  margin: 10px 0 10px 0;
  @media (max-width: 900px) {
    margin: 5px 0 5px 0;
    font-size: 16px;
  }
}

.about-bird__img {
  width: 200px;
  height: 155px;
  border-radius: 13px;
  margin: 20px;
  @media (max-width: 900px) {
    width: 160px;
    height: 110px;
  }
  @media (max-width: 750px) {
    margin: 0 20px 0 20px;
    width: 140px;
    height: 95px;
  }
}

.about-bird__audio {
  margin-top: 10px;
}

.about-bird__description {
  margin: 0 0 0 20px;
  @media (max-width: 900px) {
    font-size: 16px;
    margin: 20px 0 0 20px;
  }
  @media (max-width: 750px) {
    margin: 10px 0 0 20px;
  }
  @media (min-width: 320px) and (max-width: 500px) {
    font-size: 14px;
  }
}

.game-next-btn {
  width: 100%;
  height: 35px;
  background-color: $color-grey-dark;
  border-radius: 5px;
  color: $color-white;
  font-size: 18px;
  margin-top: 20px;
  border: 1px solid #4a545e;
}

.game-next-btn_active {
  background-color: $color-orange-active;
  border: 1px solid $color-orange-active;
  color: $color-grey-dark;
}