.game {
  display: none;
  max-width: 1160px;
  margin: 0 auto;
}

.game-level {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 35px;
  background-color: $color-orange;
  color: #666666;
  border-radius: 5px;
  box-sizing: border-box;
  @media (max-width: 700px) {
    flex-direction: column;
    height: 120px;
  }
}

.game-level__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 6);
  height: 35px;
  @media (max-width: 700px) {
    width: 100%;
    border-top: 1px solid $color-grey;
  }
}

.game-level__item_active {
  background-color: $color-orange-active;
  border-radius: 5px;
  font-weight: bold;
}

.game-question {
  display: flex;
  max-width: 1160px;
  height: 200px;
  border: 1px solid #4a545e;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: $color-grey-dark;
  border-radius: 5px;
  @media (min-width: 320px) and (max-width: 500px) {
    height: 170px;
  }
}

.game-question__img {
  width: 200px;
  height: 155px;
  border-radius: 13px;
  margin-left: 20px;
  margin-top: 22px;
  margin-bottom: 22px;
  @media (min-width: 320px) and (max-width: 500px) {
    width: 170px;
    height: 120px;
  }
}

.game-audio {
  margin-left: 40px;
  @media (min-width: 320px) and (max-width: 500px) {
    margin-left: 20px;
  }
}

.game-audio__bird {
  font-size: 30px;
  font-weight: 700;
  color: $color-white;
  margin-bottom: 10px;
  @media (min-width: 320px) and (max-width: 500px) {
    font-size: 25px;
  }
}

.game-audio__line {
  width: 825px;
  height: 1px;
  background-color: $color-grey;
  @media (min-width: 500px) and (max-width: 1160px) {
    width: calc(150px + (825 - 150) * ((100vw - 500px) / (1160 - 500)));
  }
  @media (min-width: 320px) and (max-width: 500px) {
    width: calc(80px + (150 - 80) * ((100vw - 320px) / (500 - 320)));
  }
}

.game-audio__treck {
  margin-top: 25px;
  color: white;
  @media (min-width: 320px) and (max-width: 500px) {
    margin-top: 20px;
  }
}

.game-content__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  @media (max-width: 750px) {
    flex-direction: column;
  }
}

.game-answer {
  width: 49%;
  height: 305px;
  border: 1px solid #4a545e;
  background-color: $color-grey-dark;
  border-radius: 5px;
  color: $color-white;
  font-size: 18px;
  @media (max-width: 750px) {
    width: 100%;
    height: 202px;
  }
}

.game-variants {
  box-sizing: border-box;
  
}

.game-variants__item {
  height: calc(300px / 6);
  display: flex;
  align-items: center;
  justify-content: flex-start;
    &:hover {
      background-color: #4a545e;
    }
    @media (max-width: 750px) {
      height: 33px
    }
}

.game-variants__item:not(:first-child) {
  border-top: 1px solid $color-grey;
}

.game-variants__circle {
  width: 7px;
  height: 7px;
  border: 1px solid #ced3d9;
  background-color: #ced3d9;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 10px;
}

.game-variants__circle_red {
  border: 1px solid #f8561b;
  background-color: #f8561b;
}

.game-variants__circle_green {
  border: 1px solid #00cc00;
  background-color: #00cc00;
}

.game-about {
  width: 49%;
  height: 305px;
  border: 1px solid #4a545e;
  background-color: $color-grey-dark;
  border-radius: 5px;
  color: $color-white;
  font-size: 18px;
  @media (max-width: 750px) {
    margin-top: 20px;
    width: 100%;
    height: 225px;
  }
}

.game-about__text {
  margin: 15px 0 0 20px; 
}